.footer-wrap {
  /* background-color: rgba(0, 39, 65, 0.5); */
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50%;
  text-align: center;
  width: 17%;
}

.footer-inner-container {
  box-shadow: 0 1px 15px 9px rgb(0, 28, 46);
  background: rgba(0, 39, 65, 0.8);
  width: 93%;
  color: #ef972c;
  font-size: 22px;
  padding: 0.5rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: auto;
}
