.genre-container {
  width: 80%;
  padding: 2rem 2rem 0 2rem;
  position: relative;
}

.genre-text {
  position: absolute;
  text-align: center;
  width: 17%;
  left: 14.1rem;
  top: 15.9rem;
  font-size: 20px;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 30px;
  background-color: #002741;
  color: #c8c8c8;
  border: 1px solid white;
}
